.hero {
  padding: 300px 0px;
  width: 100%;
  background-size: cover;

  @media screen and (max-width: 700px) {
    padding: 150px 16px;
  }

  .wrapper {
    color: var(--white);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 68px;
      font-family: Wesfy-Bold;
      margin-bottom: 23px;
      max-width: 439px;

      @media screen and (max-width: 700px) {
        font-size: 34px;
      }
    }

    p {
      line-height: 1.3;
      max-width: 706px;
      font-size: 18px;
    }
  }
}
