.insight {
  width: 100%;
  background: url("/images/spiral21.png") no-repeat center;
  background-size: cover;
  margin-bottom: 110px;

  .wrapper {
    padding: 120px 0px;

    @media screen and (max-width: 700px) {
      padding: 72px 0px;
    }

    h2 {
      text-align: center;
      font-family: Wesfy-Bold;
      color: var(--heading);
      font-size: 48px;

      @media screen and (max-width: 700px) {
        font-size: 32px;
      }
    }

    .grid {
      margin-top: 99px;
      display: flex;

      @media screen and (max-width: 1264px) {
        flex-direction: column;
        align-items: center;
      }

      @media screen and (max-width: 1264px) {
        margin-top: 56px;
      }

      .left {
        width: 50%;
        background: url("/images/homeinsight1.png") no-repeat;
        background-size: cover;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

        @media screen and (max-width: 1264px) {
          width: 100%;
          max-width: 605px;
        }

        @media screen and (max-width: 903px) {
          width: 90%;
          max-width: 303px;
        }

        .bubble {
          position: relative;
          background: var(--black);
          color: var(--white);
          width: 100%;
          max-width: 303px;
          height: auto;
          max-height: 368px;
          padding: 50px 29px 73px;
          display: flex;
          flex-direction: column;

          @media screen and (max-width: 1264px) {
            max-height: 100%;
          }

          // @media screen and (max-width: 600px) {
          //   max-width: 100%;
          // }

          &::after {
            content: "";
            position: absolute;
            display: block;
            width: 0;
            z-index: 1;
            border-style: solid;
            border-color: transparent #000000;
            border-width: 20px 20px 20px 0;
            top: 16%;
            left: -20px;
            margin-top: -20px;
          }

          h3 {
            font-family: Proxima-Medium;
            font-size: 24px;
          }

          p {
            margin: 17px 0px 48px;
            line-height: 1.5;
          }

          a {
            color: var(--white);
            font-size: 18px;
            font-family: Proxima-Bold;
            margin-top: auto;
            display: block;
            width: fit-content;
          }
        }
      }

      .right {
        width: 50%;

        @media screen and (max-width: 1264px) {
          width: 100%;
          max-width: 605px;
        }

        .top {
          display: flex;

          @media screen and (max-width: 903px) {
            flex-direction: column-reverse;
            align-items: center;
          }

          > .bubble {
            width: 50%;
            flex: 1;
            position: relative;
            background: var(--white);
            padding: 50px 29px 73px;
            height: auto;
            max-height: 368px;
            display: flex;
            flex-direction: column;

            @media screen and (max-width: 1264px) {
              max-height: 100%;
            }

            @media screen and (max-width: 903px) {
              width: 90%;
              max-width: 303px;
              background: #f6f8fa;
            }

            &::after {
              content: "";
              position: absolute;
              display: block;
              width: 0;
              z-index: 1;
              border-style: solid;
              border-color: transparent var(--white);
              border-width: 20px 0 20px 20px;
              top: 13%;
              right: -20px;
              margin-top: -20px;

              @media screen and (max-width: 903px) {
                border-color: transparent #f6f8fa;
              }
            }

            h3 {
              font-family: Proxima-Medium;
              font-size: 24px;
              max-width: 151px;
            }

            p {
              margin: 17px 0px 48px;
              line-height: 1.5;
              //   max-width: 253px;
            }

            a {
              color: #222fcc;
              font-size: 18px;
              font-family: Proxima-Bold;
              margin-top: auto;
              display: block;
              width: fit-content;
            }
          }

          > .img {
            width: 50%;
            background: url("/images/homeinsight2.png") no-repeat;
            background-size: cover;
            min-height: 368px;
            height: auto;

            @media screen and (max-width: 903px) {
              width: 90%;
              max-width: 303px;
            }
          }
        }

        .bottom {
          display: flex;

          @media screen and (max-width: 903px) {
            flex-direction: column;
            align-items: center;
          }

          > .img {
            width: 50%;
            background: url("/images/homeinsight3.png") no-repeat;
            background-size: cover;
            min-height: 368px;
            height: auto;

            @media screen and (max-width: 903px) {
              width: 90%;
              max-width: 303px;
            }
          }

          > .bubble {
            width: 50%;
            flex: 1;
            position: relative;
            background: #2f356a;
            padding: 50px 29px 73px;
            color: var(--white);
            height: auto;
            max-height: 368px;
            display: flex;
            flex-direction: column;

            @media screen and (max-width: 1264px) {
              max-height: 100%;
            }

            @media screen and (max-width: 903px) {
              width: 90%;
              max-width: 303px;
            }

            &::after {
              content: "";
              position: absolute;
              display: block;
              width: 0;
              z-index: 1;
              border-style: solid;
              border-color: transparent #2f356a;
              border-width: 20px 20px 20px 0;
              top: 16%;
              left: -20px;
              margin-top: -20px;
            }

            h3 {
              font-family: Proxima-Medium;
              font-size: 24px;
              max-width: 151px;
            }

            p {
              margin: 17px 0px 48px;
              line-height: 1.5;
              //   max-width: 253px;
            }

            a {
              color: var(--white);
              font-size: 18px;
              font-family: Proxima-Bold;
              margin-top: auto;
              display: block;
              width: fit-content;
            }
          }
        }
      }
    }
  }
}
