.insight {
  width: 100%;
  // background: url("/images/spiral21.png") no-repeat center;
  background-size: cover;
  // margin-bottom: 110px;
  background-color: white;

  .wrapper {
    padding: 40px 0 120px;

    @media screen and (max-width: 700px) {
      padding: 72px 0px;
    }
    .approach {
      text-align: center;
      margin: 0 auto 70px auto;
      h2 {
        text-align: center;
        font-family: Wesfy-Bold;
        color: var(--heading);
        font-size: 40px;
        line-height: 49px;
        margin: 0 0 20px 0;

        @media screen and (max-width: 700px) {
          font-size: 32px;
          line-height: 33px;
        }
      }
      p {
        max-width: 590px;
        text-align: center;
        margin: 0 auto 10px auto;
        font-size: 20px;
        line-height: 30px;
      }
      .readmore {
        font-size: 20px;
        line-height: 42px;
        color: #1e2348;
      }
    }

    .vid {
      img {
        margin: 0 auto;

        @media screen and (max-width: 600px) {
          max-width: 90% !important;
        }

        @media screen and (max-width: 1200px) {
          max-width: 80%;
        }
      }
    }

    .grid {
      max-width: 80%;
      margin: 0 auto;
      margin-top: 57px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 103px;

      .gridItem {
        padding: 0 10px 0 0;
        p {
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 28px;
          color: #333333;
        }
        h5 {
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 21px;
          color: #333333;
          margin: 20px 0;
        }
        small {
          ont-style: normal;
          font-weight: 300;
          font-size: 14px;
          line-height: 17px;
          color: #999999;
        }

    
      }
      @media screen and (max-width: 600px) {
        // display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        // grid-row-gap: 4rem;
        // grid-column-gap: 3rem;
      }
    }
  }
}
