.trustedBy {
  width: 100%;
  padding: 0px 0px 240px;
  // background: url("/images/trusted-by-curl-bg.svg") no-repeat;
  background-color: white;
  background-size: cover;

  @media (max-width: 600px) {
    padding: 0px 0 240px;
  }
  .trustedByTextDiv {
    h3 {
      text-align: center;
      font-size: 40px;
      line-height: 40px;
      color: #484646;
      // text-transform: uppercase;

      @media screen and (max-width: 600px) {
        font-size: 32px;
        line-height: 33px;
      }
    }
  }

  .swiperWrapper {
    &.home {
      min-height: 510px;

      .swiper-pagination {
        bottom: 0;
      }

      .swiper-pagination-bullet {
        background: rgba(255, 255, 255, 0.78) !important;
        height: 9px;
        width: 9px;
      }
    }
  }
  .wrapper {
    color: #1d1b1b;

    // h5 {
    //   font-size: 18px;
    //   font-family: Wesfy-Bold;
    //   line-height: 26px;
    //   text-transform: uppercase;
    // }

    // h3 {
    //   font-size: 48px;
    //   font-family: Wesfy-Bold;
    //   line-height: 58px;
    //   // max-width: 450px;
    //   // margin-bottom: 50px;

    //   @media screen and (max-width: 700px) {
    //     font-size: 34px;
    //   }
    // }

    // > p {
    //   max-width: 532px;
    //   font-size: 18px;
    //   line-height: 1.4;
    // }

    .slideGroup {
      width: 100%;
      margin-top: 57px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 33px;

      @media screen and (max-width: 1200px) {
        grid-template-columns: repeat(auto-fit, minmax(200px, 275px));
        justify-content: center;
      }

      .slideItem {
        // width: 275px;
        // height: 295px;
        // left: 429px;
        background: #ffffff;
        // border: 0.5px solid #d9d6d6;
        // box-shadow: 0px 0px 5px 1px rgba(89, 89, 89, 0.1);
        border-radius: 10px;
        // padding: 1rem;

        .slideArrow {
          display: flex;
          justify-content: flex-end;
          margin: 0 0 4rem 0;
        }

        .logoText {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;

          position: relative;
          transition: all 0.5s linear;
          overflow: hidden;
          // transform: scale(0.9);

          h6 {
            font-size: 18px;
            line-height: 40px;
            color: #1e2348;
          }
          img {
            width: 100%;
          }
        }

        .logoText:hover .hoverInfo {
          /* background: rgba(0, 0, 0, 0.3); */
          transform: translateY(-100%);
        }
        .hoverInfo {
          position: absolute;
          background: rgba(41, 40, 40, 0.76);
          color: white;
          /* transform: scale(0.9); */
          padding: 2rem;
          bottom: -100%;
          height: 100%;
          // transform: translateY(11%);
          // transition: all 0.5s linear;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;

          @media screen and (max-width: 600px) {
            padding: 1rem;
          }

          @media screen and (max-width: 1200px) {
            padding: 1rem;
          }
          h3 {
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 17px;
            color: white;
            margin: 0 0 2rem 0;

            @media screen and (max-width: 600px) {
              margin: 0 0 1rem 0;
            }

            @media screen and (max-width: 1200px) {
              margin: 0 0 1rem 0;
            }
          }
          p {
            margin: 0 0 2rem 0;
            @media screen and (max-width: 600px) {
              margin: 0 0 1rem 0;
            }

            @media screen and (max-width: 1200px) {
              margin: 0 0 1rem 0;
            }
          }
        }
        .swiper-pagination-bullet {
          width: 20px;
          height: 20px;
          text-align: center;
          line-height: 20px;
          font-size: 12px;
          color: #000;
          opacity: 1;
          background: rgba(0, 0, 0, 0.2);
        }

        .swiper-pagination-bullet-active {
          width: 20px;
          height: 20px;
          text-align: center;
          line-height: 20px;
          font-size: 12px;
          color: #000;
          opacity: 1;
          background: rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}
