.hero {
  width: 100%;
  padding: 297px 0px;

  @media screen and (max-width: 700px) {
    padding: 150px 16px;
  }

  .wrapper {
    color: var(--white);

    @media screen and (max-width: 903px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    h1 {
      font-size: 68px;
      font-family: Wesfy-Bold;

      @media screen and (max-width: 700px) {
        font-size: 34px;
      }
    }

    p {
      font-size: 18px;
      margin: 40px 0px;
      max-width: 637px;
      line-height: 1.3;
    }

    a {
      font-family: Proxima-Medium;
    }
  }
}
