.hero {
  width: 100%;
  padding: 273px 0px;
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.75) 33.86%,
      rgba(0, 0, 0, 0) 114.81%
    ),
    url("/images/clients-hero.png") no-repeat;
  background-size: cover;

  @media screen and (max-width: 700px) {
    padding: 150px 16px;
  }

  .wrapper {
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h1 {
      font-size: 68px;
      font-family: Wesfy-Bold;
      margin-bottom: 40px;

      @media screen and (max-width: 700px) {
        font-size: 34px;
      }
    }

    p {
      max-width: 744px;
      font-size: 18px;
      line-height: 1.3;
    }
  }
}
