.delivery {
  width: 100%;
  background: #f4f4f4;

  .wrapper {
    padding: 99px 0px 99px;

    @media screen and (max-width: 700px) {
      padding: 99px 16px 99px;
    }

    h2 {
      color: var(--heading);
      font-size: 40px;
      text-align: center;
      font-family: Wesfy-Bold;

      @media screen and (max-width: 700px) {
        font-size: 32px;
      }
    }

    .content {
      margin-top: 84px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media screen and (max-width: 1200px) {
        flex-direction: column-reverse;
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
      }

      .left {
        width: 60%;

        @media screen and (max-width: 1200px) {
          width: 100%;
          margin-top: 48px;
        }

        > p {
          font-size: 18px;
          text-align: justify;
          max-width: 730px;
          line-height: 1.8;
        }

        ul {
          width: 100%;
          display: grid;
          margin-top: 52px;
          grid-template-columns: repeat(2, 1fr);
          gap: 23px 17px;

          @media screen and (max-width: 700px) {
            grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
          }

          li {
            display: flex;
            align-items: baseline;

            &::before {
              width: 8px;
              height: 8px;
              border-radius: 50%;
              flex-shrink: 0;
              background: #030377;
              margin-right: 12px;
              content: "";
            }

            p {
              font-family: Proxima-Medium;
              font-size: 15px;
              max-width: 300px;
            }
          }
        }

        > a {
          background: var(--new-blue);
          border: 1px solid var(--new-blue);
          border-radius: 4px;
          font-size: 15px;
          font-family: Proxima-Bold;
          color: var(--white);
          margin-top: 40px;
        }
      }

      .right {
        width: 35%;

        @media screen and (max-width: 1200px) {
          width: 100%;
          max-width: 512px;
        }

        .deliveryVideo {
          width: 100%;
          height: 427px;
          position: relative;
        }
      }
    }
  }
}
