.solutionsDeveloped {
  width: 100%;
  padding: 150px 0px 140px;
  background: white;

  // background-color: #1d1b1b;

  .fintechSolutions {
    display: flex;

    @media (max-width: 600px) {
      display: flex;
      flex-direction: column;
      // align-items: center;
      // text-align: center;
    }

    @media (max-width: 900px) {
      display: flex;
      flex-direction: column;
      // align-items: center;
    }
    @media (max-width: 1201px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  @media (max-width: 600px) {
    padding: 150px 0px;
  }

  .imgDiv {
    img {
      // width: 70%;

      @media (max-width: 600px) {
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        width: 70%;
        margin: 0 auto;
      }

      @media (max-width: 900px) {
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        width: 70%;
        margin: 0 auto;
      }
    }
  }
  .chooseReason {
    display: flex;
    align-items: center;
    margin: 0 0 20px 0;
    p {
      padding: 0 0 0 10px;
    }
  }
  .wrapper {
    color: #484646;

    @media (max-width: 700px) {
      display: flex;
      flex-direction: column;
      // align-items: center;
      // text-align: center;
    }

    .fintechSolutionsTextDiv {
      max-width: 550px;
      margin: 0rem 0 0 6rem;

      @media screen and (max-width: 600px) {
        width: 100%;
        margin: 5rem 0 0 0rem;
        // text-align: center;
      }

      @media screen and (max-width: 900px) {
        // width: 80%;
        margin: 0 auto;
        // margin: 5rem 0 0 0rem;
        // text-align: center;
      }

      @media screen and (max-width: 1201px) {
        max-width: 80%;
        margin: 5rem auto 0 auto;
        // text-align: center;
      }

      h3 {
        font-size: 40px;
        line-height: 45px;
        text-transform: capitalize;
        margin: 0 0 2rem 0;
        color: #484646;

        @media screen and (max-width: 700px) {
          font-size: 32px;
          line-height: 33px;
        }

        @media screen and (max-width: 900px) {
          text-align: center;
        }
      }

      p {
        font-size: 16px;
        line-height: 29px;
        color: #484646;

        @media screen and (max-width: 700px) {
          font-size: 16px;
          line-height: 17px;
        }
      }
    }

    h5 {
      font-size: 18px;
      font-family: Wesfy-Bold;
      line-height: 26px;
      text-transform: uppercase;
    }

    h3 {
      font-size: 48px;
      font-family: Wesfy-Bold;
      line-height: 58px;
      // max-width: 450px;
      // margin-bottom: 50px;

      @media screen and (max-width: 700px) {
        font-size: 34px;
      }
    }

    > p {
      max-width: 532px;
      font-size: 18px;
      line-height: 1.4;
    }
  }
}
