.hero {
  width: 100%;
  padding: 273px 0px 266px;
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.98) 33.86%,
      rgba(0, 0, 0, 0) 114.81%
    ),
    url("/images/csrhero.png") no-repeat;
  background-size: cover;

  @media screen and (max-width: 700px) {
    padding: 180px 0px;
    background-position: center;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--white);

    h1 {
      font-size: 68px;
      font-family: Wesfy-Bold;

      @media screen and (max-width: 700px) {
        font-size: 34px;
      }
    }

    p {
      max-width: 826px;
      font-size: 18px;
      margin: 40px 0px;
      line-height: 1.4;
    }

    .reportBtn {
      display: flex;
      justify-content: center;
      width: fit-content;

      button {
        background: transparent;
        width: fit-content;
        height: fit-content;
        padding: 0;
        font-size: 24px;
        font-family: Proxima-Bold;

        @media screen and (max-width: 700px) {
          font-size: 20px;
        }
      }
    }
  }
}
