.insight {
  width: 100%;
  background: url("/images/spiral21.png") no-repeat center;
  background-color: white;
  background-size: cover;
  padding: 0 0 140px 0;
  // margin-bottom: 110px;

  .wrapper {
    padding: 120px 0px;

    @media screen and (max-width: 700px) {
      padding: 72px 0px;
    }
    .wayGrid {
      // max-width: 90%;
      margin: 100px auto;
      // margin-top: 57px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 200px;
      position: relative;

      @media screen and (max-width: 600px) {
        grid-template-columns: repeat(
          auto-fit,
          minmax(200px, 275px)
        ) !important;
        gap: 100px;
        justify-content: center;
      }

      @media screen and (max-width: 1200px) {
        grid-template-columns: repeat(auto-fit, minmax(400px, 475px));
        gap: 100px;
        justify-content: center;
      }

      .left {
        background-color: #000;
        color: #fff;
        padding: 100px 30px 100px 300px;
        @media screen and (max-width: 600px) {
          padding: 50px 10px !important;
          text-align: center;
        }

        @media screen and (max-width: 900px) {
          padding: 50px 10px !important;
          text-align: center;
        }

        @media screen and (max-width: 1200px) {
          padding: 100px 30px 100px 200px;
        }

        h3 {
          font-size: 60px;
          line-height: 50px;
        }

        p {
          font-size: 16px;
          line-height: 25px;
          margin: 40px 0 0 0;
        }

        img {
          position: absolute;
          left: -120px;
          top: 50px;
          @media screen and (max-width: 600px) {
            display: none;
          }

          @media screen and (max-width: 900px) {
            display: none;
          }

          @media screen and (max-width: 1200px) {
            position: absolute;
            left: 90px;
            top: 70px;
          }
        }
      }

      .right {
        margin: 0 auto;
        // margin-top: 57px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 100px;

        @media screen and (max-width: 600px) {
          grid-template-columns: repeat(auto-fit, minmax(200px, 275px));
          justify-content: center;
        }

        .gridItems {
          h5 {
            font-style: normal;
            font-weight: 800;
            font-size: 18px;
            line-height: 50px;
          }

          p {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 25px;
          }
        }
      }
    }
    .contactUsLine {
      display: flex;
      padding: 50px 0 0 0;
      max-width: 70%;
      margin: 0 auto;

      @media (max-width: 600px) {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }

      @media (max-width: 900px) {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }

      @media (max-width: 1203px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }

      h4 {
        font-size: 26px;
        line-height: 34px;
        // width: 100% !important;
        color: #1e2348;
        max-width: 600px;
        // letter-spacing: 0.01em;
        font-family: Proxima-Bold !important;
        text-align: left;

        @media (max-width: 600px) {
          width: 100%;
          margin: 0;
          font-size: 26px;
          line-height: 27px;
          text-align: center;
        }

        @media (max-width: 900px) {
          width: 100%;
          margin: 0;
          font-size: 26px;
          line-height: 34px;
          text-align: center;
        }
        @media (max-width: 1200px) {
          width: 100%;
          margin: 0;
          font-size: 26px;
          line-height: 34px;
          text-align: center;
        }
      }
    }

    .contactLink {
      display: flex;
      align-items: center;
      margin: 0 0 0 10rem;

      span {
        font-size: 20px;
        line-height: 34px;
        font-weight: bold;
        text-transform: capitalize;
        color: #1e2348;
        margin: 0 1rem 0 0;
      }

      @media (max-width: 600px) {
        margin: 0 0 0 0rem;
      }

      @media (max-width: 900px) {
        margin: 0 0 0 0rem;
      }

      @media screen and (max-width: 1200px) {
        margin: 0 0 0 1rem;
      }
    }

    h2 {
      text-align: center;
      font-family: Wesfy-Bold;
      color: var(--heading);
      font-size: 48px;

      @media screen and (max-width: 700px) {
        font-size: 32px;
      }
    }

    .grid {
      margin-top: 99px;
      display: flex;

      @media screen and (max-width: 1264px) {
        flex-direction: column;
        align-items: center;
      }

      @media screen and (max-width: 1264px) {
        margin-top: 56px;
      }

      .left {
        width: 50%;
        background: url("/images/homeinsight1.png") no-repeat;
        background-size: cover;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

        @media screen and (max-width: 1264px) {
          width: 100%;
          max-width: 605px;
        }

        @media screen and (max-width: 903px) {
          width: 90%;
          max-width: 303px;
        }

        .bubble {
          position: relative;
          background: var(--black);
          color: var(--white);
          width: 100%;
          max-width: 303px;
          height: auto;
          max-height: 368px;
          padding: 50px 29px 73px;
          display: flex;
          flex-direction: column;

          @media screen and (max-width: 1264px) {
            max-height: 100%;
          }

          // @media screen and (max-width: 600px) {
          //   max-width: 100%;
          // }

          &::after {
            content: "";
            position: absolute;
            display: block;
            width: 0;
            z-index: 1;
            border-style: solid;
            border-color: transparent #000000;
            border-width: 20px 20px 20px 0;
            top: 16%;
            left: -20px;
            margin-top: -20px;
          }

          h3 {
            font-family: Proxima-Medium;
            font-size: 24px;
          }

          p {
            margin: 17px 0px 48px;
            line-height: 1.5;
          }

          a {
            color: var(--white);
            font-size: 18px;
            font-family: Proxima-Bold;
            margin-top: auto;
            display: block;
            width: fit-content;
          }
        }
      }

      .right {
        width: 50%;

        @media screen and (max-width: 1264px) {
          width: 100%;
          max-width: 605px;
        }

        .top {
          display: flex;

          @media screen and (max-width: 903px) {
            flex-direction: column-reverse;
            align-items: center;
          }

          > .bubble {
            width: 50%;
            flex: 1;
            position: relative;
            background: var(--white);
            padding: 50px 29px 73px;
            height: auto;
            max-height: 368px;
            display: flex;
            flex-direction: column;

            @media screen and (max-width: 1264px) {
              max-height: 100%;
            }

            @media screen and (max-width: 903px) {
              width: 90%;
              max-width: 303px;
              background: #f6f8fa;
            }

            &::after {
              content: "";
              position: absolute;
              display: block;
              width: 0;
              z-index: 1;
              border-style: solid;
              border-color: transparent var(--white);
              border-width: 20px 0 20px 20px;
              top: 13%;
              right: -20px;
              margin-top: -20px;

              @media screen and (max-width: 903px) {
                border-color: transparent #f6f8fa;
              }
            }

            h3 {
              font-family: Proxima-Medium;
              font-size: 24px;
              max-width: 151px;
            }

            p {
              margin: 17px 0px 48px;
              line-height: 1.5;
              //   max-width: 253px;
            }

            a {
              color: #222fcc;
              font-size: 18px;
              font-family: Proxima-Bold;
              margin-top: auto;
              display: block;
              width: fit-content;
            }
          }

          > .img {
            width: 50%;
            background: url("/images/homeinsight2.png") no-repeat;
            background-size: cover;
            min-height: 368px;
            height: auto;

            @media screen and (max-width: 903px) {
              width: 90%;
              max-width: 303px;
            }
          }
        }

        .bottom {
          display: flex;

          @media screen and (max-width: 903px) {
            flex-direction: column;
            align-items: center;
          }

          > .img {
            width: 50%;
            background: url("/images/homeinsight3.png") no-repeat;
            background-size: cover;
            min-height: 368px;
            height: auto;

            @media screen and (max-width: 903px) {
              width: 90%;
              max-width: 303px;
            }
          }

          > .bubble {
            width: 50%;
            flex: 1;
            position: relative;
            background: #2f356a;
            padding: 50px 29px 73px;
            color: var(--white);
            height: auto;
            max-height: 368px;
            display: flex;
            flex-direction: column;

            @media screen and (max-width: 1264px) {
              max-height: 100%;
            }

            @media screen and (max-width: 903px) {
              width: 90%;
              max-width: 303px;
            }

            &::after {
              content: "";
              position: absolute;
              display: block;
              width: 0;
              z-index: 1;
              border-style: solid;
              border-color: transparent #2f356a;
              border-width: 20px 20px 20px 0;
              top: 16%;
              left: -20px;
              margin-top: -20px;
            }

            h3 {
              font-family: Proxima-Medium;
              font-size: 24px;
              max-width: 151px;
            }

            p {
              margin: 17px 0px 48px;
              line-height: 1.5;
              //   max-width: 253px;
            }

            a {
              color: var(--white);
              font-size: 18px;
              font-family: Proxima-Bold;
              margin-top: auto;
              display: block;
              width: fit-content;
            }
          }
        }
      }
    }
  }
}
