.teams {
  background: rgba(246, 248, 250, 0.84);
  width: 100%;
  margin-bottom: 120px;

  .wrapper {
    width: 100%;
    display: flex;
    align-items: center;

    @media screen and (max-width: 1200px) {
      flex-direction: column;
      padding-bottom: 48px;
      padding-left: 16px;
      padding-right: 16px;
    }

    .left {
      width: 60%;
      max-width: 770px;

      @media screen and (max-width: 1200px) {
        width: 100%;
        max-width: 512px;
      }

      img {
        width: 100%;

        @media screen and (max-width: 1200px) {
          max-height: 300px;
        }
      }
    }

    .right {
      flex: 1;
      margin-left: 43px;
      padding-right: 16px;

      @media screen and (max-width: 1200px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 48px;
        margin-left: 0px;
      }

      h2 {
        font-family: Wesfy-Bold;
        font-size: 33px;
        color: var(--heading);
        margin-bottom: 40px;

        @media screen and (max-width: 1200px) {
          max-width: 300px;
          text-align: center;
        }
      }

      > p {
        max-width: 700px;
        line-height: 1.6;
        margin-bottom: 63px;

        @media screen and (max-width: 1200px) {
          text-align: center;
        }
      }

      .info {
        border-left: 4px solid #030377;
        padding-left: 20px;

        > p {
          font-family: Proxima-Medium;
          line-height: 1.6;
          max-width: 395px;
        }
      }

      > a {
        color: var(--new-blue);
        font-size: 17px;
        font-family: Proxima-Medium;
        display: flex;
        align-items: center;
        margin-top: 17px;
        width: fit-content;

        .arrow {
          width: 23px;
          height: 23px;
          border-radius: 50%;
          background: var(--white);
          font-size: 14px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 16px;
        }
      }
    }
  }
}
