.clients {
  background: none !important;
  margin-bottom: 119px;

  .wrapper {
    padding: 207px 0px;

    @media (max-width: 700px) {
      padding: 100px 0px;
    }

    h2 {
      max-width: 450px !important;
      color: var(--heading);
    }
  }
}
