.contact {
  width: 100%;
  background: var(--black);

  .wrapper {
    padding: 72px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 903px) {
      flex-direction: column;
      align-items: center;
    }

    .left {
      width: 40%;
      color: var(--white);

      @media screen and (max-width: 903px) {
        width: 100%;
        flex-direction: column;
        align-items: center;
        display: flex;
        text-align: center;
      }

      h2 {
        font-size: 55px;
        max-width: 370px;
        margin-bottom: 36px;
        font-family: Wesfy-Bold;

        @media screen and (max-width: 700px) {
          font-size: 28px;
          max-width: 350px;
          line-height: 1.4;
        }
      }

      p {
        max-width: 420px;
        line-height: 1.4;
      }
    }

    .right {
      width: 50%;

      @media screen and (max-width: 903px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 48px;
      }

      .contactForm {
        background: var(--white);
        border-radius: 4px;
        padding: 42px 25px;
        width: 100%;
        max-width: 515px;

        @media (max-width: 600px) {
          padding: 42px 16px;
        }

        .grid {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 25px 27px;

          @media screen and (max-width: 600px) {
            grid-template-columns: repeat(1, 1fr);
          }

          .formGroup {
            .errorStyle {
              color: red;
              font-size: 10px;
              font-style: italic;
              padding: 5px 0 0 5px;
            }
            label {
              font-family: Wesfy-Bold;
              margin-bottom: 0px;
            }

            input {
              border: 0;
              border-bottom: 1px solid #dedede;
              border-radius: 0 !important;
              height: 40px !important;
              padding: 0px !important;

              &:focus {
                border-bottom: 1px solid var(--new-blue);
              }
            }
          }
        }

        .textarea {
          .errorStyle {
            color: red;
            font-size: 10px;
            font-style: italic;
            padding: 5px 0 0 5px;
          }
          margin: 25px 0px;

          label {
            font-family: Wesfy-Bold;
          }
        }
        .selectWrap {
          &::after {
            background: url("/images/arrow-down.svg") no-repeat;
            width: 15px;
            height: 15px;
            right: 5px !important;
          }
        }

        select {
          border: 0;
          border-bottom: 1px solid #dedede;
          border-radius: 0 !important;
          height: 40px !important;
          padding: 0px !important;
          background: transparent;
          color: #858585;

          &:focus {
            border-bottom: 1px solid var(--new-blue);
          }
        }
        .submitBtn {
          width: 100%;
          display: flex;
          justify-content: flex-end;

          @media screen and (max-width: 600px) {
            justify-content: flex-start;
          }

          button {
            font-size: 15px;
            justify-content: space-between;
            padding-left: 22px;
            padding-right: 22px;
            height: 60px;
            font-family: Wesfy-Bold;
          }
          // .contactTxt {
          //   display: flex;
          //   justify-content: space-between;
          // }
        }
      }
    }
  }
}
