.companies {
  width: 100%;
  background: var(--black);
  padding: 81px 0px;

  .wrapper {
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 600px) {
      padding: 0px 16px;
    }

    h2 {
      margin-bottom: 104px;
      max-width: 969px;
      text-align: center;
      font-family: Wesfy-Regular;
      font-size: 37px;

      @media (max-width: 700px) {
        font-size: 32px;
      }
    }

    // .logos {
    //   width: 100%;
    //   display: flex;
    //   justify-content: space-between;
    //   flex-wrap: wrap;

    //   @media screen and (max-width: 600px) {
    //     svg {
    //       margin-bottom: 32px;
    //       // justify-content: initial;
    //       margin-right: 16px;
    //     }
    //   }
    // }
    
      .partnerlogo{
        padding: 0 20px;
        border-right: 1px solid #9d9d9d;
        img{
          width: 100%;
          height: 32px;
          object-fit: contain;
        }
      }
    }
  }
